$main_btn_bgColor: #2d4fbd;
$main_btn_color: #ffffff;
$main_btn_hover_bgColor: #183594;
$main_btn_hover_color: #ffffff;

html { font-size: 62.5%; }
.only_m{display: none;}

h1{
    font-weight: bold;
    font-size: 2.6rem;
    margin: 4vw 0 1.5vw 0;
}
h1.more{
    display: flex;
    justify-content: space-between;
    a{
        font-weight: 400;
        font-size: 1.4rem;
    }
}

.btn{
    padding: 8px 12px;
    border-radius: 8px;
    background-color: $main_btn_bgColor;
    color: $main_btn_color;
    border: none;
    transition: .3s;
    &:hover{
        background: $main_btn_hover_bgColor;
        color: $main_btn_hover_color;
    }
}



// nav
.menu_wrap{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
    z-index: 10;
    .menu_area{
        display: flex;
        justify-content: space-between;
        padding: 1vw;
        .logo{
            width: 40%;
            font-size: 0;
            display: flex;
            align-items: center;
            img{
                width: auto;
                max-height: 50px;
                margin: 0 4px;
            }
        }
        .menu_content{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: right;
        }
        .menu{
            display: flex;
            align-items: center;
            justify-content: right;
            font-size: 1.4rem;
            li{
                margin-right: 12px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    padding: 8px 16px;
                    transition: .3s;
                    border-radius: 8px;
                    &:hover{
                        font-weight: bold;
                        background-color: #e0f3ff;
                    }
                }
            }
        }
    }
}

.banner_wrap{
    min-height: 70vh;
    background: url('../images/img_banner.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    color: #ffffff;
    padding-top: 70px;
    .banner_area{
        h2{
            font-size: 5.6rem;
            font-weight: bold;
            transform: skew(358deg);
            margin-bottom: 3vw;
        }
        div{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                align-items: center;
                li:not(.delimiter){
                    background-color: rgba(255,255,255,0.5);
                    border: 1px solid #ffffff;
                    text-align: center;
                    padding: 12px;
                    margin-right: 8px;
                    
                    h4{
                        font-size: 2.4rem;
                        font-weight: 600;
                        margin-top: 2px;
                    }
                }
                .delimiter{
                    color: #ffffff;
                    font-weight: bold;
                    margin-right: 8px;
                }
            }
            div{
                margin-left: 1vw;
                font-size: 2.4rem;
                line-height: 1.3;
            }
        }
    }
    
}

.news_wrap{
    background-color: #e8e8f5;
    .news_area{
        display: flex;
        padding: 2vw 1vw;
        align-items: center;
        font-size: 1.6rem;
        h2{
            margin-right: 1vw;
            font-weight: bold;
        }
        >div{
            flex-grow: 1;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            .swiper-container{
                height: 100%;
            }
        }
    }
}

.race_schedule_wrap{
    .swiper-container{
        overflow: hidden;
        .swiper-slide{
            text-align: center;
            background: center no-repeat;
            background-size: cover;
            position: relative;
            color: #ffffff;
            padding: 6vw 0;

            &::before{
                content: '';
                background-color: rgba(0,0,0,0.5);
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &.type1{
                background-image: url('../images/img_schedule_1.jpg');
            }
            &.type2{
                background-image: url('../images/img_schedule_2.jpg');
            }
            &.type3{
                background-image: url('../images/img_schedule_3.jpg');
            }
            &.type4{
                background-image: url('../images/img_schedule_1.jpg');
            }
            &.type5{
                background-image: url('../images/img_schedule_2.jpg');
            }
            &.type6{
                background-image: url('../images/img_schedule_3.jpg');
            }
            h5{
                font-size: 1.4rem;
                position: absolute;
                top: 3vw;
                left: 50%;
                transform: translateX(-50%);
            }
            .content{
                font-size: 1.4rem;
                h4{
                    font-size: 2.8rem;
                    font-weight: bold;
                    margin-bottom: 0.5vw;
                }
            }
            .btn_area{
                position: absolute;
                bottom: 3vw;
                left: 50%;
                transform: translateX(-50%);
                a{
                    color: #000000;
                    background-color: #ffffff;
                    padding: 0.5vw 2vw;
                    display: inline-block;
                    font-size: 1.2rem;
                    border-radius: 0.4rem;
                }
            }
        }
    }
}

.video_wrap{
    margin: 4vw 0;
    .video{
        margin-bottom: 2vw;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        iframe{
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
    
}

.partner_wrap{
    background-color: #e8e8f5;
    padding: 1vw 0 3vw 0;
    .partner_content{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        align-items: center;
        column-gap: 1vw;
        div{
            background-color: #ffffff;
            padding: 4px;
            border-radius: 4px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            max-height: 70px;
        }
    }
    .btn_are{
        margin-top: 1vw;
    }
}

.footer{
    background: #6f7375;
    padding: 2vw 0;
    font-size: 1.2rem;
    color: #e8e8f5;

    @mixin footer_thing {
        margin-bottom: 1vw;
        display: flex;
        *{
            border-right: 1px solid #acacad;
            margin-right: 8px;
            padding-right: 8px;
            &:last-child{
                border-right: 0;
            }
        }
    }

    a{
        color: #e8e8f5;
    }
    .href_area{
        @include footer_thing;
        border-bottom: 1px solid #acacad;
        padding-bottom: 1vw;
    }
    .info{
        @include footer_thing;
    }
    .copy{
        color: #aaa;
    }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    html{
        font-size: 55%;
    }
    h1{
        margin: 8vw 0 3vw 0;
    }
    .hamburger {
        width: 40px;
        height: 40px;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
    
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #4c55ca;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
        }
    
        span:nth-child(1) {
            top: 0px;
            transform-origin: left center;
        }
    
        span:nth-child(2) {
            top: 18px;
            transform-origin: left center;
        }
    
        span:nth-child(3) {
            top: 36px;
            transform-origin: left center;
        }
    }

    .menu_area{
        .menu_content{
            .menu{
                flex-direction: column;
                position: absolute;
                transition: .3s;
                transform: translateX(-30px);
                width: 0;
                top: 0;
                right: -15%;
                background-color: #e7eaf3;
                overflow: hidden;
                height: 100vh;
                z-index: 100;
                align-items: normal;
                .close{
                    display: block;
                    text-align: right;
                    margin: 1.2rem 1.2rem 0 0;
                    color: #7d8089;
                    .material-icons{
                        font-size: 4.2rem;
                    }
                }
                li{
                    margin-right: 0;
                    a{
                        display: block;
                        border-bottom: 1px solid #aaa;
                        border-radius: 0;
                        padding: 3vw 6vw;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
    
    .menu_content{
        display: flex;
        align-items: center;
        justify-content: right;
        
        &.open {
            .hamburger {
                span:nth-child(1) {
                    transform: rotate(45deg);
                    top: -3px;
                    left: 8px;
                }
        
                span:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }
        
                span:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 39px;
                    left: 8px;
                }
            }
            
            .menu{
                right: -31px;
                width: 90vw;
            }
        }
    }

    .banner_wrap{
        .banner_area{
            h2{
                font-size: 4rem;
            }
            >div{
                flex-direction: column;
                margin: 5vw 0;
                ul{
                    margin-bottom: 2vw;
                }
            }
        }
    }

    .race_schedule_wrap{
        .swiper-container{
            .swiper-slide{
                padding: 16vw 3vw;
                .btn_area{
                    a{
                        padding: 1.5vw 4vw;
                    }
                }
            }
        }
    }

    .video_wrap{
        margin: 20vw 0;
    }

    .partner_wrap{
        .partner_content{
            grid-template-columns: repeat(4,1fr);
            row-gap: 1vw;
        }
        .btn_are{
            margin-top: 5vw;
        }
    }
}